<div class="col-md-10">
    <h1 class="page-header">Создать запись</h1>

    <form role='form' action="/admin/save-post" method="post">
        <div class="form-group">
            <input class="form-control" type='text' name="permalink" placeholder='Постоянная ссылка'
                   value='{{permalink}}'>
        </div>
        <div class="form-group">
            <input class="form-control" type='text' name="header" placeholder='H1' value='{{header}}'>
        </div>
        <div class="form-group">
            <input class="form-control" type='text' name="title" placeholder='Название записи' value='{{title}}'>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="postContent" placeholder='Содержание'>{{postContent}}</textarea>
        </div>

        <input type='hidden' name="id" value='{{id}}'>
        <button class="btn btn-default" type='submit'>Сохранить</button>
    </form>
</div>