<div class="col-md-2">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
           aria-controls="collapseOne">

            <div class="panel-title"><i class="fa fa-fw fa-quote-right"></i> Записи</div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <a href="/admin/create-post/">
                        <div class="panel-title">
                            <i class="fa fa-plus"></i> Создать запись
                        </div>
                    </a>
                </div>
            </div>
        </a>


        <div class="panel-title">
            <i class="fa fa-fw fa-puzzle-piece"></i> Плагины
        </div>
        <div class="panel-title">
            <i class="fa fa-fw fa-users"></i> Пользователи
        </div>
        <div class="panel-title">
            <i class="fa fa-fw fa-cogs"></i> Настройки
        </div>
        <div class="panel-title">
            <i class="fa fa-fw fa-desktop"></i> Перейти на сайт
        </div>
        <a href="/admin/logout">
            <div class="panel-title">
                <i class="fa fa-fw fa-power-off"></i> Выйти
            </div>
        </a>
    </div>
</div>


